
.flx{
    display: flex;
    gap: 400px;
    justify-content:center;
    margin: auto;
    margin: 20px auto;
    height: 50vh;
    
}
.about{
    margin: 80px;
}

.img{
    width: 27%;
    margin-left: 5px;
}
.text{
    width: 50%;
    color: white;
    padding: 40px;
    box-sizing: border-box;
    background-color: #25334c;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 1px 1px 20px #5ddcff;
    overflow: hidden;
    font-size: 1.1em; 
}
.text p{
    padding: 10px;
}
.propos{
    text-align: center;
    color: #5ddcff;
}
.tiitre{
    color: #5ddcff;
    text-align: center;
    font-size: 3em;
}
.suis{
    color:white;
    text-align: center;
    font-size: 1.3em;
}

@media screen and (max-width: 600px){
    .text{
        width: 100%;
        color: white;
        padding:20px;
        box-sizing: border-box;
        overflow: hidden;
        height: 40vh;
    }
    .about{
        margin:20px;
    }
}