.nav{
    padding: 5px;
    width: 100%;
    background-color: #141e30f4;
    text-align: center;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;

}

ul {
  padding: 15px;
}

.nav h1 span{
  color: #5ddcff;
}

ul li {
    display: inline;
    list-style: none;
    color: white;
    font-size: 1.2em;
}

ul li .ahref {
    text-decoration: none;
     padding: 0px 10px;
  }
ul li .ahref:hover{
    background-color: rgba(240, 248, 255, 0.441);
    border-radius: 5px 5px 0 0;
    border-bottom: 3px solid ;
    border-color: linear-gradient( #5ddcff 50%, #3c67e3 , #4e00c2);
    background: -webkit-linear-gradient( #5ddcff 50%, #3c67e3 , #4e00c2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
}
.symbol{
  color: linear-gradient( #5ddcff 50%, #3c67e3 , #4e00c2);
}
.symbol:hover{
  color: white;
}
.btn-menu{
    all: unset;
    color: white;
    padding: 10px;
    font-size: 2em;
  }
.btn-menu{
    display: none;
}
.port{
  color: white;
  margin-left: 15px;
}
@media screen and (max-width: 600px) {
  .btn-menu{
    display:block;
  }
  ul li {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 2px;
    }
  
   ul {
      display: none;
    }
  
    .active {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 73px;
      right: 0;
      justify-content: center;
      width:500px;
      background-color: #162051bc;
    }
  
    ul li .ahref:hover {
      background-color: rgba(240, 248, 255, 0.441);
      border-radius: 5px 5px 0 0;
      border-bottom: 3px solid #5ddcff;
      padding: 2px;
  }

  ul li .ahref {
    text-decoration: none;
     padding: 0px 5px;
     margin: 10px;

  }
}
