
.head{
  width: 100%;
  height: 110vh;
 background:linear-gradient(rgba(55, 129, 240, 0.394),
  rgba(34, 41, 54, 0.539)),url(../img/fondd.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;

}
 
.info{
 
    color: #141e30;
    font-size: 1.3em;
    margin-top: 180px;
    font-weight: 600;
    
  }
  .nom{
   color: white;
    font-size: 3em;
  } 
  .cv {
    padding: 10px;
    background-color: #5ddcff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 40px;
    letter-spacing: 4px;
    outline: none;
    border: none;
    border-radius: 5px;
  }
  .cv:hover{
    background: #5ddcff;
    color: #fff;
    
    box-shadow:0 0 0px #5ddcff,
               0 0 5px #5ddcff,
               0 0 10px #5ddcff,
               0 0 25px #5ddcff;
  }
  .cv:active{
    transform: translateY(4px);
  }
  
  @media screen and (max-width: 600px){
    .info{
 text-align: center;
      
    }
  }
  
  