.corp{
    /* height: 30vh; */
    text-align: center;
    color: white;
    border-radius: 50%;
    width: 50%;
    vertical-align: top;

}
.bodyy{
    display: flex;
    gap: 30px;
    justify-content: space-around;
}
.comp-titre{
    text-align: center;
    color: #5ddcff;
    font-size: 3em;
}
.iconn{
    font-size: 5em;
    margin: 50px;
}
.iconn:hover{
  transform: translateY(6px);
}

/* SKILL BAR */
.contnr{
  width: 35%;

}
  .skills{
      width: 100%;
      background: rgba(243, 231, 231, 0.287);
    }
    .skill{
      color: white;
      padding: 3px;
      text-align: right;
    }
    .contnr p{
      color: white ;
      font-size: 1em;
    }
    .html{
      background-color: #5ddcff;
      width: 90%;
      animation: html 2s 1s;
    }
    .css{
      background-color: #5ddcff;
      width: 80%;
      animation: css 2s 1s;
    }
    .boot{
      background-color: #5ddcff;
      width: 60%;
      animation: boot 2s 1s;
    }
    .js{
      background-color: #5ddcff;
      width: 30%;
      animation: js 2s 1s;
    }
    .react{
      background-color: #5ddcff;
      width: 10%;
      animation: react 2s 1s;
    }

    @keyframes html {
      from {
        width: 0;
      }
    
      to {
        width: 90%;
      }
    }
    @keyframes css {
      from {
        width: 0;
      }
    
      to {
        width: 80%;
      }
    }
    @keyframes boot {
      from {
        width: 0;
      }
    
      to {
        width: 60%;
      }
    }
    @keyframes js {
      from {
        width: 0;
      }
    
      to {
        width: 30%;
      }
    }
    @keyframes react {
      from {
        width: 0;
      }
    
      to {
        width: 10%;
      }
    }



    @media screen and (max-width: 600px){
      .iconn{
        font-size: 5em;
        margin: 20px;
    }
    .bodyy{
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-around;
  }
  .contnr{
    width: 90%;
    margin: auto;
  
  }
  .corp{
    text-align: center;
    color: white;
    border-radius: 50%;
    width: 80%;
    margin: auto;

}
.comp-titre{
  font-size: 2.5em;
}
 }