@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Ubuntu:wght@400;500;700&display=swap');
body{
    margin: 0;
    background-color: #141e30;
    box-sizing: border-box;
    font-family: ubuntu;
}

